<!-- Seleccionar archivo -->
<div class="area-media-doc" *ngIf="showAreaDoc()">
  <button type="button" class="btn-close m-0" aria-label="Close" (click)="closeCleanPreviewDoc()"></button>
  <div class="back-doc d-flex flex-column px-3 py-3" *ngIf="!showPreviewDoc">
    <span>Subir un archivo</span>
    <p>Los archivos deben ocupar un máximo de {{SIZE}}MB</p>
    <ui-button
      label="Elegir archivo"
      type="button"
      severity="secondary"
      variant="outlined"
      (clicked)="openInputFileDoc($event)"
    ></ui-button>
  </div>

  <!-- Preview archivo -->
  <div class="preview-doc d-flex flex-row" *ngIf="showPreviewDoc">
    <div class="icon-doc d-flex align-items-center justify-content-center">
      <!-- Spinner mientras carga -->
      <div *ngIf="isLoadingIcon" class="spinner-border spinner-border-sm text-primary">
        <span class="visually-hidden">Cargando...</span>
      </div>
      <!-- Contenedor con background-image (se muestra cuando no está cargando) -->
      <div *ngIf="!isLoadingIcon" class="pdf-icon"></div>
    </div>
    <div class="name-doc d-flex align-items-center">
      <span>{{ fileDoc.name }}</span>
    </div>
    </div>
</div>
<input type="file" name="" id="input-file-doc" #fileInput hidden (input)="changeInputMediaDoc($event)" accept=".pdf">