<header>
    <div class="logo-brands">
        <img src="assets/logo-umss.png" alt="Logo UMSS">

        @if (institution) {
        <img src="{{ institution.logo_url }}" alt="Logo">
        }
    </div>

    <img src="assets/logo-umss-horizontal.jpg" alt="Logo UMSS" class="main-logo">
    <h2 *ngIf="institution" class="name-inst-mobile">{{ institution.name }}</h2>

    <div class="user-profile">
       
        @if (authenticated && currentUser) {
            @if (currentUser.photo_profile_path){
                <img [src]="currentUser.photo_profile_path" alt="Foto de perfil" (click)="toggleMenu()" (keypress)="toggleMenu()" class="logo user-image">
            } @else {
                <img src="assets/user-icon.png" alt="" (click)="toggleMenu()" (keypress)="toggleMenu()" class="logo user-image">
            }
        } @else {
            <img src="assets/user-icon-1.png" alt="" (click)="toggleMenu()" (keypress)="toggleMenu()" class="logo user-image">
        }
		
        <div class="burger-menu" (click)="toggleMobileMenu()" (keypress)="toggleMobileMenu()">
			<i class="material-icons">{{ isMobileMenuOpen ? "close" : "menu" }}</i>
		</div>

    </div>

    @if (isMenuOpen) {
    <div class="dropdown-menu">
        <ng-container *ngIf="authenticated">
            <!-- <a class="dropdown-item" routerLink="/profile">Ver perfil</a> -->
            <a *ngIf="currentUser.role === 'ADMIN'" class="dropdown-item" routerLink="/institution">Ver página</a>
            <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
        </ng-container>
        <ng-container *ngIf="!authenticated">
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar Sesión</a>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal">Registrarse</a>
        </ng-container>
    </div>
    }
</header>

<div class="header-container">
    <div class="header-image">

        <div class="banner-container">
            @if(currentUser && institution.background_url) {
                <img [src]="institution.background_url"  alt="Foto cubierta ususario" class="banner-image">
                <div class="edit-info">
                    <i class="bi bi-pencil-fill"></i>
                </div>
            } @else {
                <div class="default-cover">
                    <h3>Seleccione una foto de portada</h3>
                </div>
            }
        </div>

        <div class="logo-overlay">
            <img *ngIf="currentUser" [src]="currentUser.photo_profile_path" alt="Foto ususario" class="user-logo">
            <div class="edit-info">
                <i class="bi bi-pencil-fill"></i>
            </div>
        </div>

    </div>

    <div class="header-details">
        <h3 *ngIf="currentUser">{{ currentUser.name + ' ' + currentUser.lastName }}</h3>
    </div>

</div>
