<div class="section-container">
    
    <div class="side-left">
        <div class="side-image">
    
            <div class="logo-overlay">
                <div *ngIf="currentUser && currentUser.photoProfileFileUuid" class="remove-img" title="Eliminar imagen de perfil" (click)="onDeletePhotoProfile()" (keypress)="onDeletePhotoProfile()" >
                    <i class="bi bi-trash3-fill"></i>
                </div>
                <app-user-avatar 
                    *ngIf="currentUser"
                    [userImgPath]="imageProfilePreview || currentUser.photo_profile_path" 
                    [size]="'xlarge'" 
                    class="user-logo"
                ></app-user-avatar>
                <input #fileInputProfile type="file" id="input-photo-profile" (change)="changeInputMediaProfile($event)"
                 hidden accept="image/jpg, image/png, image/jpeg">
                <div class="edit-info" (click)="openInputFileProfile()" (keypress)="openInputFileProfile()" >
                    <i class="bi bi-pencil-fill"></i>
                </div>
            </div>
    
        </div>
    
        <div class="name-user">
            <h3 *ngIf="currentUser">{{ currentUser.name + ' ' + currentUser.lastName }}</h3>
            <h6 *ngIf="currentUser">{{ currentUser.email }}</h6>
        </div>
    </div>

    <div class="side-right">
        <h4>Datos de usuario</h4>
        <form [formGroup]="formUser" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
            <div class="field">
                <label for="name">Nombre:</label>
                <div class="input-wrapper">
                    <input type="text" pInputText class="form-control" id="name" formControlName="name" autocomplete="off"
                        [class.is-invalid]="hasError('name', 'required') || hasError('name', 'maxlength') || hasError('name', 'onlyLetters')">
                    <div class="error-messages">
                        <div class="invalid-feedback" *ngIf="hasError('name', 'required')">
                            El nombre es obligatorio
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('name', 'maxlength')">
                            El nombre no puede exceder los {{ MAX_NAME_LENGTH }} caracteres
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('name', 'onlyLetters')">
                            El nombre solo puede contener letras y espacios
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="lastName">Apellido:</label>
                <div class="input-wrapper">
                    <input type="text" pInputText class="form-control" id="lastName" formControlName="lastName" autocomplete="off"
                        [class.is-invalid]="hasError('lastName', 'required') || hasError('lastName', 'maxlength') || hasError('lastName', 'onlyLetters')">
                    <div class="error-messages">
                        <div class="invalid-feedback" *ngIf="hasError('lastName', 'required')">
                            El apellido es obligatorio
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('lastName', 'maxlength')">
                            El apellido no puede exceder los {{ MAX_LASTNAME_LENGTH }} caracteres
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('lastName', 'onlyLetters')">
                            El apellido solo puede contener letras y espacios
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label for="phone">Teléfono:</label>
                <div class="input-wrapper">
                    <input type="tel" pInputText class="form-control" id="phone" formControlName="phone" autocomplete="off"
                        [class.is-invalid]="hasError('phone', 'minlength') ||
                                            hasError('phone', 'maxlength') || 
                                            hasError('phone', 'numbersOnly')">
                    <div class="error-messages">
                        <div class="invalid-feedback" *ngIf="hasError('phone', 'minlength')">
                            El teléfono debe tener mínimo {{ MAX_PHONE_LENGTH }} dígitos
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('phone', 'maxlength')">
                            El teléfono no puede exceder los {{ MAX_PHONE_LENGTH }} dígitos
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('phone', 'numbersOnly')">
                            El teléfono solo debe contener números
                        </div>
                        <small class="form-text text-muted" *ngIf="!formUser.get('phone')?.invalid && formUser.get('phone')?.value">
                            Formato válido: solo números
                        </small>
                    </div>
                </div>
            </div>

            <div class="field field-password">
                <label for="password">Cambiar contraseña:</label>
                <div class="input-wrapper">
                    <div class="input-password">
                        <input [type]="typeInputPassword" pInputText class="form-control" id="password"
                            [class.is-invalid]="hasError('password', 'passwordLength') ||
                            hasError('password', 'missingLowercase') ||
                            hasError('password', 'missingUppercase') ||
                            hasError('password', 'missingNumber') ||
                            hasError('password', 'missingSpecialChar')"
                            formControlName="password" placeholder="********"/>
                        <div class="eye" (click)="togglePasswordVisibility()" (keypress)="togglePasswordVisibility()">
                            <i class="bi bi-eye-fill" *ngIf="!hidePassword"></i>
                            <i class="bi bi-eye-slash-fill" *ngIf="hidePassword"></i>
                        </div>
                    </div>
                    <div class="error-messages">
                        <div class="invalid-feedback" *ngIf="hasError('password', 'passwordLength')">
                            La contraseña debe tener entre {{ MIN_LENGTH_PASSWORD }} y {{ MAX_LENGTH_PASSWORD }} caracteres
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('password', 'missingLowercase')">
                            Debe contener al menos una letra minúscula
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('password', 'missingUppercase')">
                            Debe contener al menos una letra mayúscula
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('password', 'missingNumber')">
                            Debe contener al menos un número
                        </div>
                        <div class="invalid-feedback" *ngIf="hasError('password', 'missingSpecialChar')">
                            Debe contener al menos un carácter especial: <span>!&#64;#$%^&amp;*()_+</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center gap-4 pt-2">
                <ui-button
                  label="Guardar"
                  icon="pi pi-check"
                  type="submit"
                  severity="success"
                  [loading]="isLoading"
                  [disabled]="formUser.invalid"
                ></ui-button>
                <ui-button
                  label="Cancelar"
                  icon="pi pi-times"
                  type="button"
                  severity="secondary"
                  variant="outlined"
                  [routerLink]="['/',currentSlug]"
                ></ui-button>
            </div>
        </form>
    </div>
</div>

<app-custom-toast #toast></app-custom-toast>