header {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	padding: 15px 100px;
	width: inherit;
	height: 80px;
	border-bottom: 2px solid var(--blue-color);
	background-color: white;

	img {
		height: 50px;
	}

	.logo-brands {
		display: flex;
		gap: 30px;
	}

	.main-logo {
		display: block;
	}

	.user-profile {
		display: flex;

		.user-image {
			transition: transform 0.3s ease;
			border-radius: 50%;
			height: 50px;
			width: 50px;
			object-fit: cover;

			&:hover {
				cursor: pointer;
				transform: scale(1.05);
			}
		}

		.burger-menu {
			display: none;
			width: 50px;
			height: 50px;

			.material-icons {
				padding-top: 5px;
				font-size: 40px;
				font-weight: 100;
				color: var(--blue-color);
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.dropdown-menu {
		position: absolute;
		top: 80px;
		right: 2%;
		display: flex;
		flex-direction: column;
		border: none;

		.dropdown-item {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 40px;
			height: 40px;
			font-size: 1rem;
			text-decoration: none;
			color: var(--blue-color);
			cursor: pointer;

			&:hover {
				background-color: #bbdbfb;
				color: var(--blue-color);
			}
		}
		.dropdown-item:active {
			background-color: #0D6EFD;
			color: white !important;
		}
		.active {
			color: white;
		}
	}

	.name-inst-mobile {
		display: none;
	}
}

.submenu {
	display: none;
}

.section-container {
	display: flex;
	align-items: center;
	background-color: #f8f9fa;
	justify-content: center;

	.side-left {
		margin: 5rem;
		.side-image {
			position: relative;
			width: 100%;
	
	
			.logo-overlay {
				display: flex;
				align-items: center;
				justify-content: center;
	
				.user-logo {
					width: 150px;
					height: 150px;
					border-radius: 50%;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
					object-fit: cover;
				}
	
				.edit-info {
					border: solid 2px var(--blue-color);
					position: absolute;
					bottom: -8px;
					right: 30px;

					i {
						color: var(--blue-color);
					}
				}
			}
		}
	
		.name-user {
			padding: 40px 0 20px;
			width: 100%;
			color: var(--blue-color);
			text-align: center;
	
			h3 {
				margin: 0;
				padding: 20px 0;
				font-family: var(--secondary-font-family);
				font-optical-sizing: auto;
				font-weight: bold;
				font-size: 24px;
			}
	
			p {
				margin: 0;
				font-family: var(--primary-font-family);
				font-optical-sizing: auto;
				font-weight: normal;
				font-size: 20px;
			}
		}
	}

	.side-right {
		margin: 5rem;
		color: var(--blue-color);

		h4 {
			font-family: var(--secondary-font-family);
			font-size: 24px;
			text-align: center;
			margin-bottom: 1rem;
		}
		.field {
			display: flex;
			align-items: center;
			margin-bottom: 1.2rem;

			label {
				width: 120px;
				font-weight: bold;
				font-size: 1rem;
			}

			input {
				flex: 1;
				padding: 0.3rem 0.5rem;
				border: 1px solid #ccc;
				width: 250px;
				max-width: 100%;
			}
		}

		.btn {
			--bs-btn-border-color: none;
			width: auto;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-weight: 600;
			gap: 5px;

			.bi {
				font-size: x-large;
			}
		}

		.btn.save {
			background-color: var(--blue-color);
			--bs-btn-border-color: none;
		}

		.btn.cancel {
			border-color: var(--blue-color);
		}
	}
}

footer {
	text-align: center;
	padding: 5px;
	background-color: var(--blue-color);
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;

	p {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.submenu {	
		display: none;
		&.open {
			display: block;	
		}
	}

	header {
		margin: 0;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
		min-height: 80px !important;
		height: auto;

		.logo-brands {
			gap: 20px;
		}

		.main-logo {
			display: none;
		}

		.user-profile {
			gap: 15px;

			.burger-menu {
				display: block;
			}
		}

	}

	.section-container {
		flex-direction: column;

		.side-left {
			margin-bottom: 0;
		}

		.side-right {
			margin: 1rem 5rem;
		}
	}
}