.section-container {
	display: flex;
	align-items: flex-start;
	background-color: #f8f9fa;
	justify-content: center;

	.side-left {
		margin: 5rem;
		.side-image {
			width: 100%;
	
			.logo-overlay {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
				width: fit-content;
    			margin: 0 auto;
	
				.user-logo {
					width: 150px;
					height: 150px;
					border-radius: 50%;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
				}

				.remove-img, .edit-info {
					border: solid 2px var(--blue-color);
					position: absolute;
					bottom: -8px;
					width: 28px;
					height: 28px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
				}

				.remove-img {
					left: 20px;

					i {
						color: var(--blue-color);
					}

					&:hover {
						border: solid 2px var(--red-color);
						i {
							color: var(--red-color);
						}
					}
				}
	
				.edit-info {
					right: 20px;

					i {
						color: var(--blue-color);
					}
					
					&:hover {
						border: solid 2px var(--primary-hover);
						i {
							color: var(--primary-hover);
						}
					}
				}
			}
		}
	
		.name-user {
			padding: 40px 0 20px;
			width: 100%;
			color: var(--blue-color);
			text-align: center;
	
			h3 {
				margin: 0;
				padding: 10px 0;
				font-family: var(--secondary-font-family);
				font-optical-sizing: auto;
				font-weight: bold;
				font-size: 24px;
				width: 250px;
				max-width: 250px;
			}
	
			p {
				margin: 0;
				font-family: var(--primary-font-family);
				font-optical-sizing: auto;
				font-weight: normal;
				font-size: 20px;
			}
		}
	}

	.side-right {
		margin: 2rem;
		color: var(--blue-color);

		h4 {
			font-family: var(--secondary-font-family);
			font-size: 24px;
			text-align: center;
			margin-bottom: 1rem;
		}
		.field {
			display: flex;
			align-items: center;
			margin-bottom: 2.4rem;

			label {
				width: 90px;
				font-weight: bold;
				font-size: 1rem;
			}

			.input-wrapper {
				flex: 1;
				position: relative;
				
				input {
					padding: 0.3rem 0.5rem !important;
					border: 1px solid #ccc !important;
					width: 270px;
					height: 35px;
					max-width: 100%;
					
					&.is-invalid {
						border-color: var(--red-color) !important;
						padding-right: 30px;
					}
					&.is-invalid:focus {
						box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25) !important;
					}

				}
				
				.error-messages {
					position: absolute;
					top: 90%;
					left: 0;
					width: 100%;
					z-index: 1000;
					
					.invalid-feedback {
						display: block;
						margin-top: 0.1rem;
						font-size: 0.75rem;
						color: var(--red-color);
					}
				}
				
				.form-text {
					display: block;
					margin-top: 0.25rem;
					font-size: 0.875em;
					color: #6c757d;
				}
			}

			.input-wrapper > .input-password {
				position: relative;
				width: 270px;

				& ~ .error-messages {
					position: relative;
					width: 270px;
				}

				input {
					padding-right: 35px !important;
				}
			
				.eye {
					position: absolute;
					right: 13px;
					top: 18px;
					transform: translateY(-50%);
					cursor: pointer;
					color: #9FB0E7;
					z-index: 2;
				
					&:hover {
						color: var(--blue-color);
					}

					i {
						font-size: 20px;
					}
				}
			
			}
		}

		.field.field-password {
			align-items: flex-start;
			label {
				font-size: small;
			}
		}

		.btn {
			--bs-btn-border-color: none;
			width: auto;
			height: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-weight: 600;
			gap: 5px;

			.bi {
				font-size: x-large;
			}
			
			&:disabled {
				opacity: 0.65;
				cursor: not-allowed;
			}
		}

		.btn.save {
			background-color: var(--blue-color);
			--bs-btn-border-color: none;

			&:hover {
				background-color: var(--primary-hover);
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.section-container {
		flex-direction: column;
		align-items: center;

		.side-left {
			margin: 2rem 5rem 0;
		}

		.side-right {
			margin: 1rem 5rem;
		}
	}
}

@media screen and (max-width: 400px) {
	
	.section-container .side-right .field {
		align-items: start;
		flex-direction: column;
	}
}