<!-- Modal confirmar eliminación de publicación -->
<div class="modal fade" tabindex="-1" id="{{'delete-'+postReference}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold">¿Eliminar la publicación?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Esta seguro que desea eliminar la publicación de forma permanente?</p>
        </div>
        <div class="modal-footer">
          <ui-button
            label="Cancelar"
            type="button"
            severity="secondary"
            variant="outlined"
            [bsDismiss]="'modal'"
          ></ui-button>
          <ui-button
            label="Eliminar"
            icon="pi pi-trash"
            type="button"
            severity="danger"
            [bsDismiss]="'modal'"
            (clicked)="deletePost()"
          ></ui-button>
        </div>
      </div>
    </div>
</div>


