.content {
  display: flex;
	flex-direction: column;
	min-height: 27rem;
}

.tab-media {
  flex: 1;
}

.media-gallery {
  display: grid;
  margin: 50px auto;
  width: 100%;
  max-width: var(--container-width);

  .media-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .photo,
    .video,
    .document {
      width: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      -o-object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 8px;
      border: 1px solid var(--blue-color-25);
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

::ng-deep .p-tabview-nav-container {
  position: relative;
  margin: 0 auto !important;
  width: 100%;
  max-width: var(--container-width);
  border-bottom: 1px solid var(--red-color);
}

::ng-deep ul.p-tabview-nav {
  margin-top: 0.5rem;
  padding: 0 1rem;
  gap: 15px;
  border: none;

  li.p-highlight > a.p-tabview-nav-link  {
    color: var(--red-color);
    border-color: var(--red-color);
    outline: 0 none !important;
    box-shadow: none !important;
  }

  a.p-tabview-nav-link {
    padding-bottom: 1px;
    font-family: var(--secondary-font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--blue-color);
    text-decoration: none;

    &:hover {
      border-color: var(--blue-color);
    }
  }
}

.media-title {
  padding-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-size: 20px;
  font-weight: bold;
  color: var(--blue-color);
}

.document {
  overflow: hidden;
  pointer-events: none;
}

.no-media {
  font-family: var(--primary-font-family);
  font-size: 14px;
  text-align: center;
  color: var(--red-color);
  margin-top: 20px;
}

@media screen and (max-width: 1201px) {
  .media-gallery {
    padding: 0 10px;
    width: 100%;
  }

  ::ng-deep .p-tabview-nav-container {
    width: 100%;
  }

}

@media screen and (max-width: 700px) {
  .media-gallery .media-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
