<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Departamento de Coordinación Académica</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-1 Oferta Académica para inicio de gestión</h3>
			<p>Oferta Académica de una gestión, la cual tiene correspondencia al pensum de una Carrera ó Programa y es ofertado a los Estudiantes en el WEBSIS antes del inicio de clases de una determinada una gestión académica.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-1.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-1.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-1.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-2 Cambio de Docente en Materia/Grupo durante una gestión</h3>
			<p>Se realiza este trámite sólo cuando se requiere procesar el cambio de Docente en una Materia/Grupo dentro la gestión académica que transcurre, ya sea por jubilación, enfermedad, permiso o decisión del Honorable Consejo Facultativo.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-2.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-2.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-2.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-3 Designación temporal en Materia/Grupo acéfalo</h3>
			<p>Se realiza este trámite para Grupos de Materias en las cuales se presenta acefalías de Docentes (por renuncia, despido, jubilación o cualquier otro motivo), Así también para la creación de grupos nuevos y desdobles de Materias.<br>
			En aplicación de las resoluciones RR N° 63/25 de 24 enero 2025 y RCU N° 02/25 de 10 febrero 2025.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-3.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-3.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-3.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-4 Designación de suplente para Docente que asume Función de Autoridad (etapa 1)</h3>
			<p>Trámite inicial para solicitud de licencias a Docentes al asumir cargos como Autoridad Universitaria (Rector, Vice Rector, Secretario General, Directores Universitarios, Decanos y Directores Académicos) y, la designación de las respectivas suplencias por prestación de servicios de consultoría.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-4.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-4.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-4.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-5 Remuneración al suplente del Docente que asumió Función de Autoridad (etapa 2)</h3>
			<p>Una vez concluidas las actividades de la gestión académica; que comprende el periodo de designación, se puede realizar el trámite para solicitar el pago de Prestación de Servicios de suplencia a Docente que asumió cargos como Autoridad Universitaria.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-5.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-5.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-5.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-6 Creación de Grupos Nuevos</h3>
			<p>Se realiza este trámite cuando se requiere procesar la creación de un NUEVO GRUPO PARALELO para una Materia; principalmente por la cantidad de Alumnos, o la apertura de una Materia que ya está en el plan de estudios.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-6.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-6.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-6.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-7 Nombramiento de Auxiliar de Docencia</h3>
			<p>Se realiza este trámite cuando se necesita gestionar el nombramiento de un Auxiliar de Docencia; el estudiante universitario que participa en el proceso enseñanza- aprendizaje, investigación, extensión, producción campo y servicios como un sujeto activo.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-7.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-7.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-7.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-8 Nombramiento Docentes a Dedicación Exclusiva</h3>
			<p>Se realiza este trámite cuando se necesita gestionar el nombramiento de un Docente de Investigación, Interacción, Administración Académica o Enseñanza Aprendizaje como profesional que ejerce sus funciones exclusivamente al servicio de las tareas académicas de la Universidad.<br>
				En aplicación de la RCU N° 104/24 de 13 diciembre 2024</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-8.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-8.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-8.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-9 Nombramiento Docente Investigador</h3>
			<p>Se realiza este trámite cuando se necesita gestionar el nombramiento de un Docente de a Tiempo Completo como profesional que ejerce sus funciones exclusivamente al servicio de las tareas de investigación de la Universidad.<br>
				En aplicación de la RCU N° 104/24 de 13 diciembre 2024</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-9.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-9.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-9.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-10 Nombramiento Docente a Tiempo Completo</h3>
			<p>Se realiza este trámite cuando se necesita gestionar el nombramiento de un Docente de a Tiempo Completo como profesional que ejerce sus funciones exclusivamente al servicio de las tareas de investigación de la Universidad.<br>
				En aplicación de la RCU N° 104/24 de 13 diciembre 2024</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-10.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-10.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-10.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DCA-11 Rotación de Docentes en Materias/Grupos</h3>
			<p>Se realiza este trámite cuando se requiere procesar la rotación de Materias o Grupos, manteniendo la Carga Horaria de los Docentes. También sirve para la rotación de Materias en semestre par-impar.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-11.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-11.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-11.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

	<div class="page-section no-border-bottom">
		<div class="section-content">
			<h3>DCA-12 Asignación de Docente en Materia Electiva creada</h3>
			<p>Se realiza este trámite solo cuando el ACUERDO TECNICO del Departamento de Desarrollo Curricular (DDC) de la DPA ya fue emitido y la Materia Electiva ya está consolidada en el Plan de Estudios y se activa para la nueva Gestión Académica.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-dca-12.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"></a>
				<a href="assets/formulario/formularios-dca-12.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"></a>
				<a href="assets/procedimiento/procedimientos-dca-12.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"></a>
			</div>
		</div>
	</div>

</div>