<nav>
  <ul>
    <li><a routerLink="/posts" routerLinkActive="active">Publicaciones</a></li>


    @for(navItem of navItems; track navItem.uuid){
      @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
        <li>
          <a [routerLink]="navItem.uuid" routerLinkActive="active">{{ navItem.label }}</a>
          <div class="edit-info" (click)="showModalEdit(navItem)" (keypress)="showModalEdit(navItem)">
						<i class="bi bi-pencil-fill"></i>
					</div>
          @if(navItem.label === 'Información'){
            <div class="submenu">
              <app-navbar-information></app-navbar-information>
            </div>
          }
          @if(navItem.label === 'Guía y seguimiento de trámites'){
            <div class="submenu">
              <app-navbar-procedure-guide></app-navbar-procedure-guide>
            </div>
          }
        </li>
      }@else {
        <li>
          <a [routerLink]="navItem.uuid" routerLinkActive="active">{{ navItem.label }}</a>
          @if(navItem.label === 'Información'){
            <div class="submenu">
              <app-navbar-information></app-navbar-information>
            </div>
          }
          @if(navItem.label === 'Guía y seguimiento de trámites'){
            <div class="submenu">
              <app-navbar-procedure-guide></app-navbar-procedure-guide>
            </div>
          }
        </li>
      }
    }
    @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
      <button type="button" class="btn btn-primary save" (click)="showDialog()"><i class="bi bi-plus-lg"></i></button>
    }
  </ul>
</nav>
<p-dialog header="Agregar Menú" [(visible)]="visible" [style]="{ width: '25rem' }">
  <app-form-menu
    [visibleModal]="visible"
    [currentNavItem]="navItemToEdit"
    [typeForm]="typeForm"
    [lengthNavItems]="navItems.length"
    (modalClosed)="visible = $event"
    (onCreateNavItem)="onCreatedNavItem($event)"
    (onDeletedNavItem)="onDeleteNavItem($event)"
    (onEditedNavItem)="onEditedNavItem($event)"
  ></app-form-menu>
</p-dialog>
<p-toast/>