<nav>
  <ul>
    <li><a (click)="closeMenuNav()" (keypress)="closeMenuNav()" routerLink="posts" routerLinkActive="active">Publicaciones</a></li>

    @for(navItem of navItems; track navItem.uuid){
      @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
        <li>
          <a (click)="closeMenuNav()" (keypress)="closeMenuNav()" [routerLink]="navItem.path" routerLinkActive="active">{{ navItem.label }}</a>
          <div class="edit-info" (click)="showModalEdit(navItem)" (keypress)="showModalEdit(navItem)">
						<i class="bi bi-pencil-fill"></i>
					</div>
          <div class="submenu">
            <app-navbar-information [currentNavItem]="navItem" (collapse)="closeMenuNav()"></app-navbar-information>
          </div>
        </li>
      }@else {
        <li>
          <a (click)="closeMenuNav()" (keypress)="closeMenuNav()" [routerLink]="navItem.path" routerLinkActive="active">{{ navItem.label }}</a>
          <div class="submenu">
            <app-navbar-information [currentNavItem]="navItem" (collapse)="closeMenuNav()"></app-navbar-information>
          </div>
        </li>
      }
    }
    @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
      <button type="button" class="btn btn-primary save" (click)="showDialog()"><i class="bi bi-plus-lg"></i></button>
    }
  </ul>
</nav>
<p-dialog header="Agregar Menú" [(visible)]="visible" [style]="{ width: '25rem' }">
  <app-form-menu
    [visibleModal]="visible"
    [currentNavItem]="navItemToEdit"
    [typeForm]="typeForm"
    [lastOrderIndexNavItems]="getLastOrderIndexNavItem()"
    (modalClosed)="visible = $event"
    (onCreateNavItem)="onCreatedNavItem($event)"
    (onDeletedNavItem)="onDeleteNavItem($event)"
    (onEditedNavItem)="onEditedNavItem($event)"
  ></app-form-menu>
</p-dialog>
<p-toast/>