<nav>
  <ul>
    <li><a routerLink="/posts" routerLinkActive="active">Publicaciones</a></li>


    @for(menu of localMenus; track menu.id){
      @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
        <li>
          <a [routerLink]="menu.route" routerLinkActive="active">{{ menu.name }}</a>
          <div class="edit-info" (click)="showModalEdit(menu)" (keypress)="showModalEdit(menu)">
						<i class="bi bi-pencil-fill"></i>
					</div>
          @if(menu.name === 'Información'){
            <div class="submenu">
              <app-navbar-information></app-navbar-information>
            </div>
          }
          @if(menu.name === 'Guía y seguimiento de trámites'){
            <div class="submenu">
              <app-navbar-procedure-guide></app-navbar-procedure-guide>
            </div>
          }
        </li>
      }@else {
        <li>
          <a [routerLink]="menu.route" routerLinkActive="active">{{ menu.name }}</a>
          @if(menu.name === 'Información'){
            <div class="submenu">
              <app-navbar-information></app-navbar-information>
            </div>
          }
          @if(menu.name === 'Guía y seguimiento de trámites'){
            <div class="submenu">
              <app-navbar-procedure-guide></app-navbar-procedure-guide>
            </div>
          }
        </li>
      }
    }
    @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
      <button type="button" class="btn btn-primary save" (click)="showDialog()"><i class="bi bi-plus-lg"></i></button>
    }
  </ul>
</nav>
<p-dialog header="Agregar Menú" [(visible)]="visible" [style]="{ width: '25rem' }">
  <app-form-menu
    [visibleModal]="visible"
    [currentMenu]="menuToEdit"
    [typeForm]="typeForm"
    (modalClosed)="visible = $event"
    (onCreateMenu)="onCreatedMenu($event)"
    (onDeletedMenu)="onDeleteMenu($event)"
    (onEditedMenu)="onEditedMenu($event)"
  ></app-form-menu>
</p-dialog>
<p-toast/>