nav {
	margin: 0 auto;
	width: 100%;
	height: 60px;
	border-top: 1px solid var(--blue-color);
	border-bottom: 1px solid var(--blue-color);
	overflow-x: auto;
	overflow-y: hidden;

	ul {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		padding: 15px 0 0;
		width: max-content;
		list-style: none;

		li {
			position: relative;
			.submenu {
				display: none;
			}

			a {
				padding: 0 30px;
				font-family: var(--primary-font-family);
				font-size: 16px;
				color: var(--blue-color);
				text-decoration: none;

				&:hover {
					padding-bottom: 11px;
					color: var(--blue-color);
					border-bottom: 10px solid var(--blue-color);
				}
			}

			a.active {
				padding-bottom: 11px;
				color: var(--red-color);
				border-bottom: 10px solid var(--red-color);
			}
			.edit-info {
				position: absolute;
				top: -2px;
				right: 0;
				color: var(--blue-color);

				&:hover {
					color: var(--primary-hover);
				}
			}
		}
	}
	.btn {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
		margin-left: 15px;
    
        .bi {
            font-size: x-large;
        }
    }
    .btn.save {
        background-color: var(--blue-color);
        --bs-btn-border-color: none;
		font-size: 12px;
		&:hover {
			background-color: var(--primary-hover);
		}
    }
}

@media screen and (max-width: 768px) {

	nav {
		display: block;
		top: 82px;
		height: calc(100vh - 82px) !important;
		border: none;
		background: white;
		z-index: 2;
		position: absolute;
		overflow-y: auto;

		ul {
			flex-direction: column;
			gap: 25px;
			padding-top: 25px;
			width: 100%;

			li {

				.submenu {
					display: block;
				}

				a {
					
					&:hover {
						border: none;
					}
				}
				
				a.active {
					border: none;
				}
			} 
		}
	}

}