nav {

	ul {
		padding: 0;
		list-style: none;
		margin-right: 10px;

		li {
			line-height: 1.5rem;
			margin-bottom: 1rem;

			a {
				text-decoration: none;
				color: var(--blue-color);

				&:hover {
					text-decoration: underline;
				}
			}

			a.active {
				color: var(--red-color);
			}
		}

		div.edit-section-pencil {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			color: var(--blue-color);

			div.edit-info {
				cursor: pointer;

				&:hover {
					color: var(--primary-hover);
					scale: 1.02;
				}
			}
		}
	}
	.btn-new-section {
		margin-right: 10px;
	}
}

@media screen and (max-width: 768px) {

	nav {
		padding-top: 15px;
		padding-left: 1.5rem;
	}

}