<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Departamento de Personal Académico - PA</h2>
			</div>
		</div>
	</div>

	<div class="page-section-1 no-border-bottom">
		<div class="section-content">
			<div class="media-container">
				<img src="assets/personal/personal-dpa.jpg" alt="Equipo del DPA">
			</div>
		</div>

		<div class="section-content">
			<h3>Objetivo de la Unidad</h3>
			<ul>
				<li>Administrar el personal académico, a través de la aplicación de la normativa nacional y políticas universitarias
					en materia de Gestión de Recursos Humanos. </li>
				<li>Verificar la aplicación y cumplimiento de acciones y procedimientos del Reglamento General de Docencia e
					Incompatibilidad, asistencias y remuneración salarial, en base a las directrices académicas emanadas por la DPA.
				</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Funciones Principales de la Unidad</h3>
			<ul>
				<li>Procesar planillas de haberes del personal académico de las unidades concentradas y desconcentradas, cursos de
					temporada, Posgrado, auxiliares de docencia, consultorías y otros en coordinación con el Departamento de
					Tecnologías de información y comunicación DTIC.</li>
				<li>Administrar la base de datos del currículo docente previa aprobación del Comité Académico del HCU.</li>
				<li>Verificar y controlar el cumplimiento de la ejecución presupuestaria de la carga horaria del personal docente y
					auxiliar de las Unidades Académicas, previa coordinación con el Departamento de Coordinación Académica.</li>
				<li>Realizar el control, registro y ejecución salarial según el Escalafón Docente.</li>
				<li>Verificar la aplicación y cumplimiento de acciones y procedimientos del Reglamento General de Docencia e
					Incompatibilidad, Asistencias y Remuneración Salarial.</li>
				<li>Mantener actualizado el registro de Escalafón y el Sistema de Datos del Régimen docente con todas las acciones
					del personal como nombramientos, resoluciones, memorándums, certificaciones de años de servicios y otros.</li>
				<li>Controlar los registros de personal académico, licencias, declaratorias en comisión, con y sin goce de haberes,
					vacaciones y otras solicitudes, según la normativa universitaria vigente de régimen docente.</li>
				<li>Revisar y transcribir los partes diarios y mensuales de asistencia del personal académico para la elaboración de
					planillas mensuales y viabilizar la remuneración correspondiente al personal académico.</li>
				<li>Procesar y migrar los descargos de RC-IVAs de los docentes y de todos los descuentos de Ley.</li>
				<li>Cumplir y hacer cumplir las disposiciones legales vigentes como la Ley General del Trabajo, Ley SAFCO, Ley
					Financial, Estatuto Orgánico, Reglamento General de la Docencia y otros.</li>
				<li>Emitir certificaciones al personal académico e instituciones solicitantes, de acuerdo a requerimiento.</li>
				<li>Aplicar procedimientos para el trámite de pago de beneficios sociales para el personal académico de la UMSS.
				</li>
				<li>Elaborar y registrar a través del SIS POA el Plan Operativo Anual del Departamento, según normativa
					universitaria vigente.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Jefe Departamento de Personal Académico</h3>
			<ul>
				<li>Administrar el personal académico mediante la aplicación de políticas de gestión de Recursos Humanos y el Reglamento General de la Docencia en coordinación con las unidades académicas de la Dirección de Planificación Académica de la Universidad.</li>
			</ul>
		</div>
		
		<div class="section-content">
			<h3>Secretaria Departamento de Personal Academico</h3>
			<ul>
				<li>Apoyar al Departamento con trabajos de secretariado relacionado con la actividad académico administrativas y manejo de correspondencia tanto interna como externa y su correspondiente resguardo y archivo de la documentación generada por el departamento.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Analista Jurídico</h3>
			<ul>
				<li>Apoyo jurídico y legal en general al Departamento, velando por el cumplimiento de los derechos, beneficios y
					obligaciones otorgados por disposiciones legales nacionales y universitarias.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Jefe División Recursos Humanos Académicos</h3>
			<ul>
				<li>Dar cumplimiento a los diferentes documentos y trámites que llega al Departamento de Personal Académico,
					cumpliendo las normas establecidas por la legislación de la Universidad Mayor de San Simón.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Responsable de Planillas Académicas</h3>
			<ul>
				<li>Elaboración oportuna y eficientemente la planilla mensual de haberes del personal docente, cumpliendo con la
					ejecución presupuestaria y la aplicación de los reglamentos y normativa vigente.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Encargado de Planillas Auxiliares</h3>
			<ul>
				<li>Elaboración oportuna y eficiente de la planilla mensual de haberes del personal auxiliar y de las
					asignaciones familiares del sector docente, cumpliendo con la ejecución presupuestaria y la aplicación de
					los reglamentos y normativa vigente.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Encargado de Partes Diarios de Asistencia Tiempo Horario</h3>
			<ul>
				<li>Verificar y archivar la asistencia diaria, manual y biométrico, de docentes tiempo horario y auxiliares en
					correspondencia al parte mensual para la elaboración de planillas.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Encargado de Planillas por Contratos de Servicio</h3>
			<ul>
				<li>Elaboración de planillas por contratos de servicio de la institución, asistencia a la elaboración y control
					de planillas académicas y/o escalafón.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Responsable de Planificación, Organización y Registro de Escalafón Docente</h3>
			<ul>
				<li>Apoyo a dar cumplimiento a los diferentes documentos y tramites que llega al Departamento de Personal
					Académico, cumpliendo las normas establecidas por la legislación de la Universidad Mayor de San Simón.
					Elaboración oportuna del escalafón docente, el registro y control de documentos de los files personales de
					los docentes de las diferentes unidades académicas de la Universidad.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Encargado de la Emisión y Recepción de Licencias</h3>
			<ul>
				<li>Registrar, verificar y archivar todas las licencias, así como el control de la AFPS y el pago de
					contribuciones en exceso del Personal Académico.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Responsable de Registro y Certificación de Años de Servicio</h3>
			<ul>
				<li>Elaborar, verificar y certificar los años de servicio en base a planillas de haberes del personal Académico,
					tanto activos como pasivos.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Responsable de Archivos del Departamento de Personal Académico</h3>
			<ul>
				<li>Preservar, resguardar, documentos históricos importantes, así como el control de entradas y salidas de
					documentos del Departamento de Personal Académico.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Responsable Informático</h3>
			<ul>
				<li>Brindar asistencia informática y soporte técnico. Resguardar documentos históricos importantes, así como el
					control de saldo RC-IVA del Personal Académico.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Encargado de Control de Partes Diarios de Asistencia Tiempo Completo</h3>
			<ul>
				<li>Resguardar documentos históricos importantes, así como el control de asistencia del plantel académico de
					tiempo completo.</li>
			</ul>
		</div>
		<div class="section-content">
			<h3>Responsable de Seguimiento Declaraciones Juradas de Bienes y Rentas (DJBR)</h3>
			<ul>
				<li>Supervisar el cumplimiento oportuno de la Declaración Jurada de Bienes y Rentas de los funcionarios docentes
					y administrativos de la UMSS, para lo cual se remite informes trimestrales a la MAE de la UMSS.</li>
			</ul>
		</div>

	</div>

</div>