<div class="photo-gallery">
  <h2 class="gallery-title">Fotos</h2>
  <div *ngIf="isLoading" class="loading-message">
    Cargando fotos...
  </div>
  <div class="gallery-container" *ngIf="!isLoading && photos.length > 0">
    @for (photo of photos; track photo.url) {
    <img [src]="photo.url" alt="" class="photo" (click)="openViewPost(photo.postUuid)" (keypress)="openViewPost(photo.postUuid)" />
    }
  </div>
  <div class="no-photos" *ngIf="!isLoading && photos.length === 0">
    No hay Fotos.
  </div>
</div>

<footer>
  <p>Comunicación Social. &copy; 2026 Todos los derechos reservados.</p>
</footer>