<div class="header-container">
    <div class="header-image">
        <div class="banner-container">
            <img *ngIf="institution" [src]="institution.background_url" alt="Banner de la DPA" class="banner-image">
        </div>
        
        <div class="logo-overlay">
            <img *ngIf="institution" [src]="institution.logo_url" alt="Logo de la DPA" class="career-logo">
        </div>
    </div>
    
    <div class="header-details">
        <h3 style="padding-bottom: 5px;">{{ institution ? institution.name : '' }}</h3>
    </div>
</div>

<!-- <nav>
    <ul>
        <li><a routerLink="/posts" routerLinkActive="active">Publicaciones</a></li>
        <li><a routerLink="/informacion" routerLinkActive="active">Información</a></li>
        <li><a routerLink="/guia-seguimiento-tramites" routerLinkActive="active">Guía y seguimiento de trámites</a></li>
        <li><a routerLink="/gaia" routerLinkActive="active">GAIA</a></li>
        <li><a routerLink="/contactos" routerLinkActive="active">Contactos</a></li>
    </ul>
</nav>   -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Botón hamburguesa -->
    <button class="navbar-toggler" type="button"  [attr.aria-expanded]="isMenuOpen"
            aria-controls="navbarNav"  aria-label="Toggle navigation" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Contenido del menú -->
    <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isMenuOpen">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts" routerLinkActive="active" (click)="closeMenu()">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/informacion" routerLinkActive="active" (click)="closeMenu()">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/guia-seguimiento-tramites" routerLinkActive="active" (click)="closeMenu()">Guía y seguimiento de trámites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gaia" routerLinkActive="active" (click)="closeMenu()">GAIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactos" routerLinkActive="active" (click)="closeMenu()">Contactos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
