<header>
    <div class="logo-brands">
        <img src="assets/logo-umss.png" alt="Logo UMSS">

        @if (institution) {
            <app-institution-avatar [institution]="institution" size="small" id="logo-inst"></app-institution-avatar>
        }
    </div>

    <img src="assets/logo-umss-horizontal.jpg" alt="Logo UMSS" class="main-logo">

    <div class="user-profile">
        <span *ngIf="hideArrowBackHome" class="back-home" title="Volver a inicio" [routerLink]="['/', currentSlug]">
            <i class="bi bi-arrow-left"></i>
        </span>
        
        @if (authenticated && user) {
            @if (user.photo_profile_path){
                <img src="{{ user.photo_profile_path }}" alt="Foto de perfil" (click)="toggleMenu()" (keypress)="toggleMenu()" class="logo user-image">
            } @else {
                <img src="assets/user-icon.png" alt="" (click)="toggleMenu()" (keypress)="toggleMenu()" class="logo user-image">
            }
        } @else {
            <img src="assets/user-icon-1.png" alt="" (click)="toggleMenu()" (keypress)="toggleMenu()" class="logo user-image">
        }
		
        <div class="burger-menu" (click)="toggleMobileMenu()" (keypress)="toggleMobileMenu()">
			<i class="material-icons">{{ isMobileMenuOpen ? "close" : "menu" }}</i>
		</div>

    </div>

    @if (isMenuOpen) {
    <div class="dropdown-menu">
        <ng-container *ngIf="authenticated">
            <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/',currentSlug,'profile']" (click)="closeMenu()">Ver perfil</a>
            <a *ngIf="user && user.role === 'ADMIN'" routerLinkActive="active" class="dropdown-item" [routerLink]="['/',currentSlug,'institution']" (click)="closeMenu()">Ver página</a>
            <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
        </ng-container>
        <ng-container *ngIf="!authenticated">
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar Sesión</a>
            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#registerModal">Registrarse</a>
        </ng-container>
    </div>
    }
</header>

<app-login></app-login>

<app-register></app-register>

<app-navbar class="submenu" [class.open]="isMobileMenuOpen" [labelButtonNewMenu]="'Nuevo menú'" (closeMenuHamburguer)="closeMobileMenu()"></app-navbar>
