<nav>
  <ul>
    <li><a (click)="closeMenuNav()" (keypress)="closeMenuNav()" routerLink="posts" routerLinkActive="active">Publicaciones</a></li>
    <!-- <li><a (click)="closeMenuNav()" (keypress)="closeMenuNav()" routerLink="fotos" routerLinkActive="active">Galería</a></li> -->

    @for(navItem of navItems; track navItem.uuid){
      @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
        <li>
          <a (click)="closeMenuNav()" (keypress)="closeMenuNav()" [routerLink]="navItem.path" routerLinkActive="active">{{ navItem.label }}</a>
          <div class="edit-info" (click)="showModalEdit(navItem)" (keypress)="showModalEdit(navItem)">
						<i class="bi bi-pencil-fill"></i>
					</div>
          <div class="submenu">
            <app-sections-panel [isMobile]="true" [currentNavItem]="navItem" (collapse)="closeMenuNav()"></app-sections-panel>
          </div>
        </li>
      }@else {
        <li>
          <a (click)="closeMenuNav()" (keypress)="closeMenuNav()" [routerLink]="navItem.path" routerLinkActive="active">{{ navItem.label }}</a>
          <div class="submenu">
            <app-sections-panel [isMobile]="true" [currentNavItem]="navItem" (collapse)="closeMenuNav()"></app-sections-panel>
          </div>
        </li>
      }
    }
    @if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
      <ui-button
        icon="pi pi-plus"
        type="button"
        class="btn-new-menu"
        [label]="labelButtonNewMenu"
        (clicked)="showDialog()"
      ></ui-button>
    }
  </ul>
</nav>
<p-dialog header="Agregar Menú" [(visible)]="visible" [style]="{ width: '25rem' }">
  <app-menu-item-form
    [visibleModal]="visible"
    [currentNavItem]="navItemToEdit"
    [typeForm]="typeForm"
    [lastOrderIndexNavItems]="getLastOrderIndexNavItem()"
    (modalClosed)="visible = $event"
    (onCreateNavItem)="onCreatedNavItem($event)"
    (onDeletedNavItem)="onDeleteNavItem($event)"
    (onEditedNavItem)="onEditedNavItem($event)"
  ></app-menu-item-form>
</p-dialog>
<app-custom-toast #customToast></app-custom-toast>