<div class="textarea-container">
    <textarea 
        id="text-area" 
        placeholder="¿Qué estás pensando?" 
        rows="4" 
        (input)="onTextChange($event)" 
        [class.exceeded]="isExceeded"
        #textareaRef
    ></textarea>

    <div class="char-counter" [class.exceeded]="isExceeded">
        <span>{{ currentLength }}</span> / {{ maxLength }}
        <span *ngIf="isExceeded" class="error-message">
          Has alcanzado el límite de {{ maxLength }} caracteres
        </span>
    </div>
</div>
