<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/dpa/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Presentación</h2>
			</div>
		</div>
	</div>

	<div class="page-section-1 no-border-bottom">
		<div class="section-content">
			<p>De acuerdo con el Estatuto Orgánico, la Dirección de Planificación Académica define, en base a las
				determinaciones del Consejo Universitario las líneas generales de la política académica universitaria y
				se ocupa de la incorporación de docentes y estudiantes de la Universidad Mayor de San Simón.</p>
		</div>

		<div class="section-content">
			<h3>Misión</h3>
			<p>La Dirección de Planificación Académica se constituye en la Unidad Institucional que tiene la misión de regular y supervisar la Gestión Académica de las Unidades Académicas, contribuyendo a la integración de las funciones de Investigación e Interacción con el proceso formativo a partir de un Nuevo Modelo Académico integral y comunitario en respuesta a las necesidades y⁄o demandas sociales de formación profesional del contexto Regional y Nacional.</p>
		</div>

		<div class="section-content">
			<h3>Visión</h3>
			<p>La Dirección de Panificación Académica se constituye en una unidad técnicamente dinámica y eficaz que cuenta con personal altamente calificado y comprometido con el que hacer institucional y el apoyo de recursos tecnológicos pertinentes para llevar adelante una Gestión de Información Académica de excelencia y calidad.</p>
		</div>

		<div class="section-content">
			<h3>Objetivo de la Unidad</h3>
			<ul>
				<li>Definir los lineamientos y políticas académicas de la gestión de formación profesional de grado para mejorar e integrar los procesos de formación, investigación e interacción social en las Unidades Académicas.</li>
				<li>Regular los procesos de gestión académica de formación profesional de grado de las Unidades Académicas para contribuir al cumplimiento del Modelo Educativo y responder a las necesidades profesionales del contexto actual.</li>
				<li>Planificar y regular el Régimen Académico Docente y Estudiantil para mejorar la calidad de la gestión universitaria.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Funciones principales de la Unidad</h3>
			<ul>
				<li>Gestionar el proceso de admisión, inscripción y seguimiento de estudiantes coordinando con las Unidades Académicas, a través de mecanismos, procedimientos y la normativa universitaria vigente de Régimen Estudiantil.</li>
				<li>Gestionar y canalizar los procesos de admisión y seguimiento del personal académico de las Unidades Académicas.</li>
				<li>Definir y gestionar las líneas generales de la política curricular de la UMSS.</li>
				<li>Definir y coordinar la elaboración de la planificación académica, con la Dirección de Planificación Proyectos y Sistemas.</li>
				<li>Supervisar y coordinar el proceso de administración académica de docentes y estudiantes de las Unidades Académicas a través del Sistema de Información San Simón (SISS).</li>
				<li>Definir la Política de Desconcentración Universitaria para posibilitar el acceso de estudiantes del área rural a la Educación Superior, de acuerdo a las necesidades del contexto de cada región.</li>
				<li>Refrendar los procesos de gestión académica y administrativa de la titulación de los estudiantes universitarios no graduados, según el reglamento, los procedimientos y el cronograma del PTAG en cumplimiento a las resoluciones emanadas por la MAE.</li>
				<li>Proponer al Vicerrectorado proyectos referentes al Régimen docente y estudiantil, y la política curricular de la UMSS para su consideración y aprobación en el Comité Académico del Honorable Consejo Universitario.</li>
				<li>Cumplir y hacer cumplir la normativa académica en asuntos y problemáticas relacionadas a la gestión curricular, régimen docente y estudiantil en las unidades concentradas y desconcentradas.</li>
				<li>Atender a los requerimientos del Comité Académico del Honorable Consejo Universitario, referente a políticas, regulaciones y otros procesos de gestión académica de grado.</li>
				<li>Elevar informes periódicos al Vicerrectorado sobre las actividades académico administrativas de sus departamentos y las unidades facultativas.</li>
			</ul>
		</div>

	</div>

</div>