<div class="container">

	<nav class="navbar-pages">
		<div class="navbar-title">
			<h2>Contactos</h2>
		</div>
	</nav>

	<div class="main-container">

		<div class="page-container">

			<div class="header-post">
				<div class="data-user">
					<img src="assets/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
					<div class="info-user">
						<h2>Contactos</h2>
						<p></p>
					</div>
				</div>
			</div>

			<div class="page-section">
				<div class="section-content">
					<h3>DIRECCIÓN DE PLANIFICACIÓN ACADÉMICA - DPA</h3>
					<p>Av. Oquendo y Jordán, Zona Las Cuadras<br>
						Edificio Vicerrectorado Tercer Piso<br>
						Cochabamba - Bolivia<br>
						Correo electrónico: <a href="mailto:dpa@umss.edu.bo">dpa&#64;umss.edu.bo</a><br>
						Tel: (591) 4 - 4232970, 4-4221393</p>
				</div>
			</div>

			<div class="page-section">
				<div class="section-content">
					<h3>DEPARTAMENTO DE DESARROLLO CURRICULAR - DDC</h3>
					<p>Dirección: Oquendo y Jordán, edificio del Vicerrectorado Segundo Piso.<br>
						Correo electrónico: <a href="mailto:ddc_dpa@umss.edu.bo">ddc_dpa&#64;umss.edu.bo</a><br>
						Tel. Ip: 40525 - 40258</p>
				</div>
			</div>

			<div class="page-section">
				<div class="section-content">
					<h3>DEPARTAMENTO DE COORDINACIÓN ACADÉMICA - DCA</h3>
					<p>Dirección: Oquendo y Jordán, edificio del Vicerrectorado Tercer Piso.<br>
						Correo electrónico: <a href="mailto:juan.rojas@umss.edu.bo">juan.rojas&#64;umss.edu.bo</a><br>
						Tel. IP: 40531 - 40530</p>
				</div>
			</div>

			<div class="page-section">
				<div class="section-content">
					<h3>DEPARTAMENTO DE SEGUIMIENTO Y ADMINISTRACIÓN DE INFORMACIÓN ACADÉMICA DSyAiA</h3>
					<p>Dirección: Oquendo y Jordán, edificio del Vicerrectorado Segundo Piso.<br>
						Correo electrónico: <a href="mailto:dpa_sye@umss.edu.bo">dpa_sye&#64;umss.edu.bo</a><br>
						Tel. IP: 40324 - 40347</p>
				</div>
			</div>

			<div class="page-section">
				<div class="section-content">
					<h3>DEPARTAMENTO DE PERSONAL ACADÉMICO - PA</h3>
					<p>Dirección: Oquendo y Jordán, edificio del Vicerrectorado Tercer Piso.<br>
						Correo electrónico:  <a href="mailto:r.gutierrez@umss.edu.bo">r.gutierrez&#64;umss.edu.bo</a><br>
						Tel. IP:  40443 - 40408</p>
				</div>
			</div>

			<div class="page-section">
				<div class="section-content">
					<h3>DEPARTAMENTO DE REGISTROS E INSCRIPCIONES - DREI</h3>
					<p>Dirección: Oquendo y Jordán, edificio del Vicerrectorado Planta Baja<br>
						Correo electrónico: <a href="mailto:drei@umss.edu.bo">drei&#64;umss.edu.bo</a><br>
						Tel. IP: 40531 - 40530<br>
						Tel. fijo: (591) 4-4666631 Fax: (591) 4-4667123<br>
						Página web: <a href="http://www.drei.umss.edu.bo" target="_blank">www.drei.umss.edu.bo</a></p>
				</div>
			</div>

			<div class="page-section no-border-bottom">
				<div class="section-content">
					<h3>PROGRAMA DE TITULACIÓN ALTERNATIVA Y GRADUACIÓN</h3>
					<p>Dirección: Oquendo y Jordán, edificio del Vicerrectorado Tercer Piso.<br>
						Correo electrónico: <a href="mailto:ptang@umss.edu.bo">ptang&#64;umss.edu.bo</a><br>
						Tel. IP: 40358 - 40313<br>
						Tel. fijo:  (591) 4-4666025; (591) 4-4255605, Fax (591) 4- 4543823<br>
						Página web: <a href="http://www.ptag.umss.edu.bo" target="_blank">www.ptag.umss.edu.bo</a></p>
				</div>
			</div>

		</div>

	</div>

</div>