<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/dpa/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Programa de Titulación Alternativa y Graduación</h2>
			</div>
		</div>
	</div>

	<div class="page-section-1 no-border-bottom">
		<div class="section-content">
			<h3>Objetivo de la Unidad</h3>
			<ul>
				<li>Coadyuvar de manera sistémica con la titulación de estudiantes universitarios no graduados, cumpliendo con los
					requisitos académicos necesarios y proporcionándoles herramientas, instrumentos y medios necesarios para este
					acometido; acreditando con la calidad del programa, la idoneidad profesional de los graduados, a través de los
					proceso académico administrativos del Programa de Titulación Alternativa y Graduación (PTAG).</li>
				<li>Administrar el proceso de titulación de estudiantes que han concluido el Plan de estudios en las diferentes
					Carreras y Programas de las Unidades Académicas de la UMSS y de las otras universidades pertenecientes al
					Sistema de la Universidad Boliviana.</li>
				<li>Ejecutar dos versiones del PTAG en cada gestión, de acuerdo a Reglamento y normativa universitaria vigente.</li>
				<li>Realizar el seguimiento académico – administrativo a las diferentes etapas del proceso de titulación, de acuerdo
					al cronograma de actividades previsto en cada gestión.</li>
				<li>Incrementar las ofertas de titulación a través del PTAG.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Funciones Principales de la Unidad</h3>
			<ul>
				<li>Hacer cumplir las normas y procedimientos académico- administrativos del proceso de titulación en conformidad al
					Estatuto Orgánico de la UMSS, el Reglamento del PTAG y la normativa universitaria vigente.</li>
				<li>Planificar y ejecutar el cronograma de actividades académica - administrativas de cada versión del PTAG (dos
					versiones en la gestión).</li>
				<li>Proponer a instancias superiores y al Comité Académico del HCU mejoras e innovaciones en los planes de
					titulación del PTAG en coordinación con la Dirección de Planificación Académica.</li>
				<li>Coordinar la designación de docentes y coordinador facultativo con las Escuelas y/o Unidades Académicas para las
					diferentes etapas del proceso de titulación del PTAG.</li>
				<li>Verificar y refrendar el cumplimiento de requisitos del proceso de designación del coordinador facultativo y de
					docentes, por la Escuela y/o Unidades Académicas para las diferentes etapas del proceso de titulación del PTAG.
				</li>
				<li>Gestionar la contratación de docentes para cada etapa del proceso de titulación, según las necesidades de la
					versión, normativa vigente del PTAG y normativas universitarias, cuando la nómina de docentes no llegue de forma
					oportuna.</li>
				<li>Avalar los documentos de los postulantes que fueron clasificados en la segunda categoría (Trabajo Dirigido
					Interdisciplinario) conjuntamente con el Coordinador de Escuela y/o Facultad.</li>
				<li>Avalar los documentos de postulantes que fueron clasificados en la primera categoría (Memoria Profesional)
					conjuntamente con el Coordinador de Escuela y/o Facultad y un representante de la Dirección de Planificación
					Académica.</li>
				<li>Elaborar, registrar en el SISPOA y ejecutar el Plan Operativo Anual del Programa de acuerdo a las directrices y
					normativa universitaria vigente.</li>
				<li>Ejecutar el presupuesto del PTAANG, según los procedimientos establecidos por la DAF.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Jefe del Programa de Titulación Alternativa y Graduación (PTAG)</h3>
			<ul>
				<li>Gestionar de manera sistemática y efectiva la administración del Programa de Titulación Alternativa y Graduación en las diferentes Carreras y Programas de las Unidades Académicas de la UMSS y del Sistema de la Universidad Boliviana.</li>
			</ul>
		</div>
		
		<div class="section-content">
			<h3>Secretaria PTAG</h3>
			<ul>
				<li>Apoyar a la jefatura del PTAG con trabajos de secretariado relacionado con la actividad académico- administrativa.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable Académico</h3>
			<ul>
				<li>Coordinar con las unidades facultativas para mejorar de manera eficiente y efectiva los procesos de gestión académico-administrativo del PTAG en las modalidades presencial y virtual.</li>
			</ul>
		</div>
		
		<div class="section-content">
			<h3>Administrador PTAG</h3>
			<ul>
				<li>Administrar los recursos materiales, financieros y los sistemas de administración universitaria precautelando
					los intereses del PTAG, optimizando los recursos y maximizando los resultados en el marco de los sistemas
					establecidos por la LEY1178 SAFCO.</li>
				<li>Gestionar y hacer seguimiento al proceso de contratación del personal eventual con cargos de Coordinadores
					Facultativos, Docentes para Módulo de Reforzamiento, Elaboradores de Términos de Referencia, Tutores y
					Tribunales.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Apoyo Académico</h3>
			<ul>
				<li>Apoyar en todas las actividades del proceso académico a los Responsables Académicos del PTAG de las diferentes Facultades.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Apoyo Administrativo</h3>
			<ul>
				<li>Apoyar al PTAG en actividades administrativas.</li>
			</ul>
		</div>

	</div>

</div>