<div class="container">

	<nav class="navbar-pages">
		<div class="navbar-title">
			<h2>GAIA</h2>
		</div>
	</nav>

	<div class="main-container">

		<div class="page-container">

			<div class="header-post">
				<div class="data-user">
					<img src="assets/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
					<div class="info-user">
						<h2>Seguimiento de Gestión y Administración de Información Académica</h2>
						<p></p>
					</div>
				</div>
			</div>

			<div class="page-section no-border-bottom">
				<div class="section-content">
					<h3></h3>
					<p>El sistema (GAIA) de la Universidad Mayor de San Simón (UMSS) es una plataforma para que las unidades facultativas puedan gestionar y administrar información académica.</p>
					<div class="attach-files">
						<a href="http://plataforma.dpa.umss.edu.bo" target="_blank"><img src="assets/icon-link.png"
								alt="Sistema GAIA"> Sistema GAIA</a>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>