<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Seguimiento de trámites Dirección de Planificación Académica DPA</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section no-border-bottom">
		<div class="section-content">
			<!--<h3>Seguimiento de trámites Dirección de Planificación Académica DPA</h3>-->
			<p>El Sistema de Seguimiento de Trámites (SITRA) de la Universidad Mayor de San Simón (UMSS) es una plataforma para que las unidades facultativas y usuarios en general puedan monitorear el estado de trámites académicos y administrativos, de tal manera de supervisar el flujo y tiempo de duración de cada trámite.</p>
			<div class="attach-files">
				<a href="assets/procedimiento/procedimientos-ds-1.pdf" target="_blank"><img src="assets/icon-link.png" alt="Sistema de Seguimiento de Trámites"> SITRA</a>
			</div>
		</div>
	</div>

</div>