<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Trámites en Departamento de Seguimiento y Evaluación</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-1 Venta de Matriculas</h3>
			<p>Se realiza este trámite para habilitar; en un determinado rango de fechas, la venta de matrículas por CAJASISS y Cajero Virtual (Tigo Money y BNB Net) a los estudiantes. Ese rango de días entre la fecha de inicio y la fecha de fin, debe ser moderadamente amplio para que se realice una sola vez por gestión.<br>
				NO SE DEBE JUNTAR este trámite con Solicitudes de apertura del sistema para inscripciones.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-1.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-1.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-1.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-2 Inscripciones por WEBSIS</h3>
			<p>Se realiza este trámite para que los estudiantes se inscriban mediante Internet accediendo al sistema WEBSISS.<br>
				Se debe considerar que las fechas de apertura y cierre del sistema, estén dentro el rango de fechas solicitado para Venta de Matrículas; es decir cada vez que se abre el sistema para inscripciones, también se debe tener el sistema abierto para Venta de Matrículas.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-2.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-2.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-2.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-3 Inscripciones manuales por el SISS</h3>
			<p>Se realiza este trámite en CASOS MUY ESPECIALES, es decir para Alumnos con trámites de Admisión Especial, cambio de Carrera, estudios simultáneos ó traspaso de Universidad que aún no hayan completado su convalidación de Materias.<br>
				Esta inscripción solo se realiza una vez para el Estudiante, la siguiente gestión deberá inscribirse por el sistema WEBSIS.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-3.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-3.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-3.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-4 Registro de Notas vía WEBSISS para GESTIÓN ACTUAL</h3>
			<p>Se realiza este trámite durante el PERIODO o GESTIÓN ACTUAL, para registrar las notas de los Estudiantes.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-4.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-4.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-4.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-5 Registro de notas vía WEBSISS para una GESTIÓN PASADA</h3>
			<p>Se realiza este trámite, cuando existe la necesidad de MODIFICAR las notas (calificaciones de los Estudiantes) en una GESTIÓN YA PASADA.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-5.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-5.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-5.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-6 Registro de notas vía WEBSISS para CASOS ESPECIALES</h3>
			<p>Se realiza este trámite, cuando existe la necesidad de MODIFICAR las notas (calificaciones de los estudiantes) en casos EXCEPCIONALES que no aplican los procedimientos anteriores.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-6.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-6.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-6.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-7 Admisiones Estudiantes Regulares</h3>
			<p>Este trámite se realiza cuando existen Inscripciones FUERA de Calendario, las cuales requieren procesos de de reincorporaciones o cambios de Carrera.<br>
				Cada vez que se solicita abrir el Sistema para Inscripciones también se debe pedir Admisión de Estudiantes Regulares.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-7.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-7.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-7.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-8 Apertura del Sistema de Postulantes (SISPO)</h3>
			<p>El Decano de la Facultad, puede pedir la habilitación de este sistema para Inscripciones, Registro de Notas ó Creación de cuentas Docentes. La administración del mismo lo realiza la UTI Facultativa.<br>El Sistema de Postulantes del SISS está diseñado para que sea usado por cualquier Facultad.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-8.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-8.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-8.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-9 Creación de Perfiles de Usuarios para acceso al SISS</h3>
			<p>Se realiza este tramite cuando se requiere procesar la creación de un NUEVO USUARIO y su respectivo PERFIL para acceso al sistema SISS. Solamente si son funcionarios de la institución cuyo Manual de Funciones requiera acceso a información de este sistema.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-9.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-9.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-9.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section">
		<div class="section-content">
			<h3>DS-10 Creación de Impresoras y Otros Accesos para Operación del SISS</h3>
			<p>Se realiza este trámite cuando se requiere crear accesos en el SISS a impresoras instaladas en las diferentes Unidades Académicas.<br>
				Así mismo cuando se requiere otros Accesos y/o Definiciones para operaciones en el SISS.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-10.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-10.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-10.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

	<div class="page-section no-border-bottom">
		<div class="section-content">
			<h3>DS-11 Admisión Estudiantes Nuevos</h3>
			<p>Este trámite se realiza antes del inicio de cada Gestión Académica, sea Anual o Semestral.</p>
			<div class="attach-files">
				<a href="assets/flujograma/flujograma-ds-11.jpg" target="_blank"><img src="assets/icon-image.png" alt="Flujograma"> Flujograma</a>
				<a href="assets/formulario/formularios-ds-11.zip" target="_blank"><img src="assets/icon-zip.png" alt="Formulario"> Formularios</a>
				<a href="assets/procedimiento/procedimientos-ds-11.pdf" target="_blank"><img src="assets/icon-pdf.png" alt="Procedimiento"> Procedimiento</a>
			</div>
		</div>
	</div>

</div>