<nav>
	<ul>
		@for(section of sections; track section.uuid; let i = $index){
			<li>
				<a [routerLink]="['/informacion', section.uuid ]" 
				routerLinkActive="active"  
				(click)="closeMobileMenu()"
				>{{ section.name }}
				</a>
			</li>
		}
	</ul>
	@if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
		@if(showButtonNewSection){
			<button class="btn btn-primary save" (click)="hideButtonNewSection()" (keypress)="hideButtonNewSection()" ><i class="bi bi-plus-lg"></i> Agregar sección</button>
		}@else {
			<app-form-section
				typeForm="create"
				(onCloseNew)="showButtonNewSection = $event"
				(onCreateSection)="onCreatedSection($event)"
				(onDeletedSection)="onDeletedSection($event)"
			></app-form-section>
		}
	}
</nav>
<p-toast/>