<nav class="navbar-pages">
	<div class="navbar-title">
		<h2>Información</h2>
	</div>
	<ul>
		<!--
		<li><a routerLink="presentacion" routerLinkActive="active">Presentación</a></li>
		<li><a routerLink="coordinacion-academica" routerLinkActive="active">Coordinación Académica</a></li>
		<li><a routerLink="desarrollo-curricular" routerLinkActive="active">Desarrollo Curricular </a></li>
		<li><a routerLink="personal-academico" routerLinkActive="active">Personal Académico </a></li>
		<li><a routerLink="titulacion-alternativa" routerLinkActive="active">Titulación Alternativa</a></li>
		<li><a routerLink="seguimiento-academico" routerLinkActive="active">Seguimiento Académico</a></li>
		<li><a routerLink="registro-inscripciones" routerLinkActive="active">Registro e Inscripciones</a></li>
		-->
		<li><a routerLink="presentacion" routerLinkActive="active">DPA</a></li>
		<li><a routerLink="coordinacion-academica" routerLinkActive="active">DCA</a></li>
		<li><a routerLink="desarrollo-curricular" routerLinkActive="active">DCC</a></li>
		<li><a routerLink="personal-academico" routerLinkActive="active">PA</a></li>
		<li><a routerLink="titulacion-alternativa" routerLinkActive="active">PTAG</a></li>
		<li><a routerLink="seguimiento-academico" routerLinkActive="active">DS</a></li>
		<li><a routerLink="registro-inscripciones" routerLinkActive="active">DRI</a></li>
	</ul>
</nav>