nav {

	ul {
		padding: 0;
		list-style: none;

		li {
			line-height: 2.5rem;

			a {
				text-decoration: none;
				color: var(--blue-color);

				&:hover {
					text-decoration: underline;
				}
			}

			a.active {
				color: var(--red-color);
			}
		}
	}
}

@media screen and (max-width: 768px) {

	nav {
		padding-top: 15px;
		padding-left: 50px;
	}

}