nav {

	ul {
		padding: 0;
		list-style: none;
		margin-right: 10px;

		li {
			line-height: 1.5rem;
			margin-bottom: 1rem;

			a {
				text-decoration: none;
				color: var(--blue-color);

				&:hover {
					text-decoration: underline;
				}
			}

			a.active {
				color: var(--red-color);
			}
		}

		div.edit-section-pencil {
			display: flex;
			align-items: baseline;
			color: var(--blue-color);
		}
	}
	.btn-primary.save {
		background-color: var(--blue-color);
		font-weight: 500;
		margin-right: 10px;
	}
}

@media screen and (max-width: 768px) {

	nav {
		padding-top: 15px;
		padding-left: 50px;
	}

}