<div class="form-section">
    <form [formGroup]="formSection" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    
        <!-- Nombre de seccion -->
        <input #firstInput type="text" pInputText formControlName="name" 
            class="input-form form-control" placeholder="Nombre de sección"
            [class.is-invalid]="hasErrors('name', 'required') || hasErrors('name', 'maxlength')"/>
        <div class="invalid-feedback" *ngIf="hasErrors('name', 'required')">
            El nombre es obligatorio
        </div>
        <div class="invalid-feedback" *ngIf="hasErrors('name', 'maxlength')">
            El nombre no puede exceder los {{ MAX_LENGTH_NAME }} caracteres
        </div>
        <input type="text" pInputText formControlName="path" 
            class="input-form form-control" placeholder="Ruta de sección"
            [class.is-invalid]="hasErrors('path', 'required') || hasErrors('path', 'maxlength')"/>
        <div class="invalid-feedback" *ngIf="hasErrors('path', 'required')">
            La ruta es obligatoria
        </div>
        <div class="invalid-feedback" *ngIf="hasErrors('path', 'maxlength')">
            La ruta no puede exceder los {{ MAX_LENGTH_PATH }} caracteres
        </div>
        <div class="d-flex flex-column gap-3 justify-content-center m-1" *ngIf="!isLoading">
            <ui-button
                label="Guardar"
                icon="pi pi-check"
                type="submit"
                severity="success"
                [disabled]="formSection.invalid"
            ></ui-button>
            <ui-button
                *ngIf="typeForm === 'edit'"
                label="Eliminar"
                icon="pi pi-trash"
                type="button"
                severity="danger"
                (clicked)="deleteSection()"
            ></ui-button>
            <ui-button
                label="Cancelar"
                icon="pi pi-times"
                type="button"
                severity="secondary"
                variant="outlined"
                (clicked)="closeForm()"
            ></ui-button>
        </div>
        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="loading-overlay w-100 d-flex flex-column align-items-center">
            <div class="spinner-border text-primary"></div>
            <span class="visually-hidden">Cargando...</span>
        </div>
    </form>
</div>
