<form [formGroup]="formNavItem" (ngSubmit)="onSubmit()">
    <div class="modal-body d-flex gap-4 flex-column">
        <div class="input-field">
            <label for="input-menu">Nombre:</label>
            <input #firstInput type="text" autocomplete="off" formControlName="label" pInputText id="input-menu">
        </div>
        <div class="input-field">
            <label for="input-path">Ruta:</label>
            <input type="text" (input)="firstInput.value" autocomplete="off" formControlName="path" pInputText id="input-path">
        </div>
        <div class="input-field">
            <label for="input-index">Posición:</label>
            <p-inputNumber autocomplete="off" formControlName="orderIndex" id="input-index"/>
        </div>
    </div>
    <div *ngIf="!isLoading" class="modal-footer">
        <button type="submit" class="btn btn-primary save" [disabled]="formNavItem.invalid">
        <i class="bi bi-check"></i> Guardar
        </button>
        <button type="button" *ngIf="typeForm === 'edit'" class="btn btn-danger delete" (click)="deleteNavItem()">
        <i class="bi bi-trash-fill"></i> Eliminar
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="onCloseModal()">
        <i class="bi bi-x"></i> Cancelar
        </button>
    </div>
    <!-- Spinner de carga -->
    <div *ngIf="isLoading" class="loading-overlay w-100 d-flex flex-column align-items-center mb-2">
        <div class="spinner-border text-primary"></div>
        <span class="visually-hidden">Cargando...</span>
    </div>
</form>
