<form [formGroup]="formNavItem" (ngSubmit)="onSubmit()">
    <div class="modal-body d-flex gap-4 flex-column">
        <div class="input-field">
            <label for="input-menu">Nombre:</label>
            <input #firstInput type="text" autocomplete="off" formControlName="label" pInputText id="input-menu">
        </div>
        <div class="input-field">
            <label for="input-path">Ruta:</label>
            <input type="text" (input)="firstInput.value" autocomplete="off" formControlName="path" pInputText id="input-path">
        </div>
        <div class="input-field">
            <label for="input-index">Posición:</label>
            <p-inputNumber autocomplete="off" formControlName="orderIndex" id="input-index"/>
        </div>
    </div>
    <div *ngIf="!isLoading" class="modal-footer">
        <ui-button
            label="Guardar"
            icon="pi pi-check"
            type="submit"
            severity="success"
            [disabled]="formNavItem.invalid"
        ></ui-button>
        <ui-button
            *ngIf="typeForm === 'edit'"
            label="Eliminar"
            icon="pi pi-trash"
            type="button"
            severity="danger"
            (clicked)="deleteNavItem()"
        ></ui-button>
        <ui-button
            label="Cancelar"
            icon="pi pi-times"
            type="button"
            severity="secondary"
            variant="outlined"
            (clicked)="onCloseModal()"
        ></ui-button>
    </div>
    <!-- Spinner de carga -->
    <div *ngIf="isLoading" class="loading-overlay w-100 d-flex flex-column align-items-center mb-2">
        <div class="spinner-border text-primary"></div>
        <span class="visually-hidden">Cargando...</span>
    </div>
</form>
