<nav class="navbar-pages">
	<div class="navbar-title">
		<h2>Guía de Trámites</h2>
	</div>
	<!--<ul>
		<li><a routerLink="direccion-planificacion-academica" routerLinkActive="active">DPA</a></li>
		<li><a routerLink="desarrollo-curricular" routerLinkActive="active">Desarrollo Curricular</a></li>
		<li><a routerLink="seguimiento-evaluacion" routerLinkActive="active">Seguimiento y Evaluación</a></li>
		<li><a routerLink="coordinacion-academica" routerLinkActive="active">Coordinación Académica</a></li>
		<li><a routerLink="personal-academico" routerLinkActive="active">Personal Académico</a></li>
		<li><a routerLink="programa-titulacion-alternativa-graduacion" routerLinkActive="active">PTAG</a></li>
		<li><a routerLink="registro-inscripciones" routerLinkActive="active">Registro e Inscripciones</a></li>
	</ul>-->
	<ul>
		<li><a routerLink="tramite-coordinacion-academica" routerLinkActive="active">Coordinación Académica</a></li>
		<li><a routerLink="tramite-seguimiento-evaluacion" routerLinkActive="active">Seguimiento Académico</a></li>
	</ul>
</nav>