<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img src="assets/dpa-logo.jpg" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2>Departamento de Registros e Inscripciones - DRI</h2>
			</div>
		</div>
	</div>

	<div class="page-section-1 no-border-bottom">
		<div class="section-content">
			<h3>Objetivo de la Unidad</h3>
			<ul>
				<li>Gestionar los procesos académico-administrativos del Régimen Estudiantil (admisión, permanencia y graduación) en
					base a las normas y reglamentos vigentes que regulan la UMSS.</li>
				<li>Administrar los procesos de admisión, registro e inscripción de estudiantes nuevos que aprobaron alguna
					modalidad de admisión en las diferentes facultades.</li>
				<li>Administrar los procesos de seguimiento, registro y control de la permanencia estudiantil, en base a lo
					estipulado en los reglamentos del Régimen Estudiantil.</li>
				<li>Administrar los procesos de Certificación de Estudios, Notas y Conclusión de Plan de Estudios de acuerdo al
					análisis y revisión de los pensum registrados en el SISS.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Funciones Principales de la Unidad</h3>
			<ul>
				<li>Administrar los periodos de admisión estudiantil en coordinación con las Unidades.</li>
				<li>Académicas y Direcciones Universitarias que intervienen en este proceso, en sujeción al calendario académico
					aprobado.</li>
				<li>Administrar la disponibilidad de recursos humanos y tecnológicos para gestionar los procesos de admisión,
					permanencia y graduación estudiantil.</li>
				<li>Administrar los procesos académico-administrativos de Régimen Estudiantil referente a trámites de admisión,
					permanencia y graduación según procedimientos y reglamentos aprobados.</li>
				<li>Socializar la normativa y los procesos académico-administrativos realizados por el Departamento de Registros e
					Inscripciones.</li>
				<li>Sistematizar y digitalizar los expedientes estudiantiles, planillas de notas, documentos. referentes a la
					admisión de estudiantes nuevos entre otros en el Sistema de Información de digitalización de archivos.</li>
				<li>Organizar, archivar, resguardar y conservar la correspondencia, documentos generados de los procesos
					académico-administrativos, expedientes estudiantiles, planilla de notas, etc. mediante un Sistema de Plan de
					Archivo, infraestructura y equipamiento adecuado.</li>
				<li>Implementar plataformas de atención para los estudiantes extranjeros, aplicando normas nacionales, convenios
					internacionales de movilidad estudiantil transitoria, convenios que rigen la permanencia estudiantil en un país
					y otros inherentes a extranjería, con personal capacitado en leyes migratorias.</li>
				<li>Elaborar y registrar a través del SISPOAS el Plan Operativo Anual del Departamento, según normativa
					universitaria vigente.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Jefe de Departamento de Registros e Inscripciones</h3>
			<ul>
				<li>Dirigir, supervisar, coordinar y controlar las funciones del personal profesional y técnico, de acuerdo a lo establecido en los reglamentos normas y procedimientos que rigen el funcionamiento del Departamento de Registros e Inscripciones, para gestionar el proceso del Régimen Estudiantil (admisión, seguimiento, control y conclusión del plan de estudios) de estudiantes nuevos y regulares de la Universidad.</li>
			</ul>
		</div>
		
		<div class="section-content">
			<h3>Secretaria</h3>
			<ul>
				<li>Apoyar con trabajos de secretariado relacionado con la actividad administrativa y manejo de correspondencia tanto interna como externa y su correspondiente resguardo y archivo de la documentación generada por el Departamento de Registros e Inscripciones.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Mensajero</h3>
			<ul>
				<li>Apoyo en trabajos de portería, mensajería, fotocopiado y difusión de documentos y trabajos manuales.</li>
			</ul>
		</div>
		
		<div class="section-content">
			<h3>Responsable TIC Registros</h3>
			<ul>
				<li>Desarrollar sistemas que mejoren el funcionamiento del Departamento y proveer soporte técnico informático a los funcionarios, respecto al registro, seguimiento y evaluación de datos en Sistema de Información implementada en el Departamento de Registros e Inscripciones la operación del equipamiento.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable UTI Registros</h3>
			<ul>
				<li>Manejar y administrar los diferentes sistemas de información de la UMSS y supervisar los trámites realizados en el Departamento de Registros e Inscripciones, permitir el correcto registro y/o modificación de datos en el Sistema de Información San Simón (SISS), resolver solicitudes con relación a la transcripción de notas, evaluar el seguimiento académico de los estudiantes y emitir informes técnicos de excelencia académica.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Admisiones Especiales y Cambios de Carreras</h3>
			<ul>
				<li>Ejecutar los trámites de admisiones especiales tanto para profesionales de la UMSS y del Sistema Universitario Boliviano (SUB), cambios de carrera dentro la Facultad y entre Facultades diferentes de la UMSS.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Estudios Simultáneos, Traspasos y Otros Trámites Adicionales</h3>
			<ul>
				<li>Ejecutar los trámites de estudio simultáneo, traspaso de universidad, convalidación de materias y conversión de notas.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Admisiones de Estudiantes Nuevos</h3>
			<ul>
				<li>Ejecutar los trámites de admisión de alumnos nuevos de las diferentes unidades facultativas de la Universidad y de alumnos que aprobaron una modalidad de admisión pero que ya cuentan con código SISS, realizar los trámites de suspensión de estudios, retiro de carrera y atención de estudiantes extranjeros.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Reincorporaciones</h3>
			<ul>
				<li>Ejecutar las solicitudes o trámites de reincorporación a una carrera o programa de estudiantes de la UMSS.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Certificación de Notas</h3>
			<ul>
				<li>Ejecutar los trámites de certificación de notas de estudiantes de la UMSS y gestionar el correcto registro de notas de estudiantes de otras universidades del Sistema Universitario Boliviano (SUB) que opten por la modalidad de titulación mediante el Programa de Titulación Alternativa y Graduación (PTAG).</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Certificación de Conclusión de Plan de Estudios</h3>
			<ul>
				<li>Asesorar y ejecutar el trámite de emisión de certificado de conclusión de plan de estudios de las diferentes Unidades Académicas – Administrativas de la UMSS y gestionar el proceso de examen de gracia.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Certificaciones de Estudios</h3>
			<ul>
				<li>Ejecutar los trámites de certificación de estudios de estudiantes de las diferentes unidades facultativas de la UMSS.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Informes Técnicos</h3>
			<ul>
				<li>Analizar, evaluar y emitir informes técnicos de Asesoría Legal, claustros de carrera, facultativos y universitarios, auxiliaturas, fondos IDH e informes varios a solicitud de las diferentes Unidades Académicas.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Archivo Físico</h3>
			<ul>
				<li>Apoyar al Departamento de Registros e Inscripciones con trabajo de resguardo y archivo de los expedientes de los estudiantes y documentación relacionada con la actividad del Régimen Estudiantil (admisión, seguimiento, control, conclusión de estudios y planillas de notas), generada por las Unidades Académicas-Administrativas de la UMSS y así garantizar la organización y conservación de la documentación generada en este Departamento.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Responsable de Archivo Digital</h3>
			<ul>
				<li>Implementar, actualizar, mantener y digitalizar los expedientes estudiantiles y otros documentos generados por las unidades Académico – Administrativas, generando un respaldo digital de todo el archivo físico del Departamento de Registros e Inscripciones, para facilitar el acceso a la información en custodia.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Apoyo en Recepción de Documentación de Reincorporación</h3>
			<ul>
				<li>Apoyar en la recepción y verificación de la documentación solicitada por el Responsable de Reincorporaciones.</li>
			</ul>
		</div>

		<div class="section-content">
			<h3>Apoyo en Recepción de Documentos de Certificados de Notas y Conclusión de Plan de Estudios  </h3>
			<ul>
				<li>Apoyar en la recepción y verificación de la documentación solicitada por los Responsables de Certificado de Notas y Certificado de Conclusión de Plan de Estudios.</li>
			</ul>
		</div>

	</div>

</div>