.page-container {
	margin-bottom: 30px;
	padding-bottom: 10px;
	font-family: var(--primary-font-family);
	font-size: 14px;
	color: var(--blue-color);

	.header-post {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;

		.data-user {
			width: 95%;
			display: flex;
			gap: 10px;

			.img-profile {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				border: 1px solid var(--blue-color);
				object-fit: contain;
			}

			.info-user {
				margin: 0;
				padding: 0;

				h2 {
					margin: 0;
					padding: 0;
					padding-top: 8px;
					font-family: var(--secondary-font-family);
					font-size: 20px;
				}

				p {
					margin: 0;
					padding: 0;
					font-size: 14px;
					font-weight: normal;
				}
			}
		}
	}

	.page-section {
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: 1px solid var(--blue-color);

		.edit-section-content {
			display: flex;
			flex-direction: row;
		}
		
		.section-content {
			display: flex;
			align-items: center;
			flex-direction: column;
			margin-bottom: 1.5rem;

			h3 {
				align-self: start;
				font-size: 14px;
				font-weight: 700;
			}

			.text {
				align-self: start;
			}

			.media-container {
				margin-bottom: 20px;
				margin-top: 20px;
				width: 100%;
				height: auto;
				border-radius: 10px;
				border: 1px solid #dce5ee;

				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 2 columnas */
				gap: 10px; /* Espacio entre imágenes */
				
				img {
					width: 100%;
					height: auto;
					object-fit: cover;
					-o-object-fit: contain;
					border-radius: 8px;
				}
			}
		}

		.btn-primary.save {
			background-color: var(--blue-color);
			font-weight: 500;
		}
	}

	.no-border-bottom {
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
}

@media screen and (max-width: 768px) {

	.page-container {

		.page-section {
			display: flex;
			flex-direction: column;
			gap: 0;

			.section-content {

				.media-container {
					height: auto;
					width: 100% !important;
					
					img {
						border-radius: 10px;
					}
				}
			}
		}
	}

}