<div class="page-container">

	<div class="header-post">
		<div class="data-user">
			<img *ngIf="currentInstitution" [src]="currentInstitution.logo_url" alt="'Foto de perfil'" class="img-profile">
			<div class="info-user">
				<h2 *ngIf="currentSection">{{ currentSection.name }}</h2>
			</div>
		</div>
	</div>

	<div class="page-section no-border-bottom">
		@for(article of articles; track article.uuid;  let i = $index){
			@if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
				<!-- Mostrar form de edicion del articulo -->
				@if(idArticleToEdit === article.uuid){
					<app-edit-info
						[currentArticle]="article"
						typeForm="edit"
						(onCloseEdit)="closeEdit()"
						(onEditedArticle)="onUpdateArticle($event)"
						(onDeletedArticle)="onDeleteArticle($event)"
						(onComponentReady)="onEditComponentReady()"
					></app-edit-info>
				}@else {
					<div class="edit-section-content">
						<div class="section-content">
							<h3>{{ article.title }}</h3>
							<div class="text" *ngIf="article" [innerHTML]="safeText(article.text)"></div>
							<div class="media-container" *ngIf="article.medias.length > 0" 
								[ngStyle]="{ width: article.medias.length == 1 ? '70%' : '100%' }">
								@for(media of article.medias; track media.uuid){
									<img [src]="media.path" [alt]="media.name">
								}
							</div>
						</div>
						<div class="edit-info" (click)="editInfo(article.uuid)" (keypress)="editInfo(article.uuid)">
							<i class="bi bi-pencil-fill"></i>
						</div>
					</div>
				}
			}@else {
				<div class="section-content">
					<h3>{{ article.title }}</h3>
					<div class="text" [innerHTML]="safeText(article.text)"></div>
					<div class="media-container" *ngIf="article.medias.length > 0" 
						[ngStyle]="{ width: article.medias.length == 1 ? '70%' : '100%' }">
						@for(media of article.medias; track media.uuid){
							<img [src]="media.path" [alt]="media.name">
						}
					</div>
				</div>
			}
		}
		@if(isAuthenticated && currentUser && currentUser.role === 'ADMIN'){
			@if(showButtonNewArticle){
				<button class="btn btn-primary save" (click)="hideButtonNewArticle()" (keypress)="hideButtonNewArticle()"><i class="bi bi-plus-lg"></i> Agregar artículo</button>
			}@else{
				<app-edit-info
					typeForm="create"
					[currentSectionUuid]="currentSection.uuid"
					(onCloseNew)="showButtonNewArticle = $event"
					(onCreateArticle)="onCreateArticle($event)"
					(onComponentReady)="onEditComponentReady()"
				></app-edit-info>
			} 
		}
	</div>

</div>
<p-toast>