<div class="editor-article">
    <form [formGroup]="formArticle" (ngSubmit)="onSubmit()">

        <!-- Editar titulo de articulo -->
        <input #firstInput type="text" pInputText formControlName="title" class="input-title" placeholder="Título del artículo" />

        <!-- Editor de texto -->
        <p-editor formControlName="text" [style]="{ height: 'auto' }" class="text-editor" placeholder="Texto del artículo" />

        <!-- Editar imagenes -->
        <div class="images-article">
            @if(imagesOfArticle && imagesOfArticle.length > 0){
                @for(img of imagesOfArticle; track img.uuid; let i = $index){
                    <div class="container-img">
                        <img [src]="img.path" [alt]="img.name">
                        <button type="button" class="btn-delete-media" (click)="selectImageDeleteOfArticle(i, img)" >
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                }
            }
            @if(imgsPreview.length > 0){
                @for(preview of imgsPreview; track preview.url; let i = $index){
                    <div class="container-img">
                        <img [src]="preview.url" [alt]="preview.name">
                        <button type="button" class="btn-delete-media" (click)="deleteImagePreview(i)">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                }
            }
            <div class="add-more-file" (click)="openInputFileMedia()" (keypress)="openInputFileMedia()">
                <div class="add-more-content">
                    <i class="bi bi-plus-lg"></i>
                    Agregar imagen
                </div>
            </div>
            <input #fileInput type="file" id="input-file-img" hidden (change)="changeInputMedia($event)" multiple accept="image/*">
        </div>

        
        <div class="d-flex gap-3 justify-content-center m-3" *ngIf="!isLoading">
            <button type="submit" class="btn btn-primary save"><i class="bi bi-check"></i> Guardar</button>
            <button type="button" class="btn btn-danger delete" (click)="deleteArticle()"><i class="bi bi-trash-fill"></i> Eliminar</button>
            <button type="button" class="btn btn-outline-primary" (click)="closeEdit()"><i class="bi bi-x"></i> Cancelar</button>
        </div>
        <!-- Spinner de carga -->
        <div *ngIf="isLoading" class="loading-overlay w-100 d-flex flex-column align-items-center">
            <div class="spinner-border text-primary"></div>
            <span class="visually-hidden">Cargando...</span>
        </div>
    </form>
</div>

