<div class="photos-container">

  <div class="section-title">
    <h3>Fotos</h3>
    <a (click)="visibleModalGallery = true">Ver más</a>
  </div>

  <div *ngIf="isLoading" class="loading-message">
    Cargando fotos...
  </div>

  @if (!isLoading && photos.length > 0) {
  <div class="grid-container">
    @for (photo of photos; track photo.url) {
      <img src="{{ photo.url }}" alt="Foto de {{ institution.name }}" 
        (click)="openViewPost(photo.postUuid, photo.url)" 
        (keypress)="openViewPost(photo.postUuid, photo.url)">
    }
  </div>
  }

  <div class="no-photos" *ngIf="!isLoading && photos.length === 0">
    No hay Fotos.
  </div>

</div>

<p-dialog
  [modal]="true"
  [style]="{ width: '60rem' }"
  [(visible)]="visibleModalGallery"
  appendTo="body">

  <app-media-gallery 
    *ngIf="visibleModalGallery"
    (openModalPostFromModalGallery)="openViewPost($event.postUuid, $event.mediaUrl)">
  </app-media-gallery>
</p-dialog>

<p-dialog
  [modal]="true"
  [style]="{ width: '60rem' }"
  [(visible)]="visibleModalPost"
  appendTo="body"
  contentStyleClass="dialog-post"
  [header]="'Publicación de ' + institution.name">

  <app-comments
    *ngIf="visibleModalPost"
    [modalBoostrap]="false"
    [institution]="institution"
    [post]="currentPost"
    [initialMediaIndex]="indexImage"
  ></app-comments>
</p-dialog>

