.container {
  border-radius: 0.5rem;
  padding: 1.7rem 2rem;
  border: 1px solid var(--blue-color);
}

.modal-content {
  color: var(--blue-color);
  padding: 2rem 1rem;
}

.modal-header {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  position: relative;
}

.modal-title {
  flex: 1;
  text-align: center;
  color: var(--blue-color);
}

.btn-close {
  border: none;
  font-size: 1.25rem;
  line-height: 1;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.btn.save {
  background-color: var(--blue-color);

  &:hover {
    background-color: var(--primary-hover);
  }
}

.form-control {
  border: 1px solid var(--blue-color) !important; 
}

.input-password {
  
  .input-eye {
    position: relative;

    input {
      padding-right: 35px;
    }
  
    .eye {
      position: absolute;
      right: 10px;
      top: 18px;
      transform: translateY(-50%);
      cursor: pointer;
      color: #9FB0E7;
      z-index: 2;
  
      &:hover {
        color: var(--blue-color);
      }

      i {
        font-size: 20px;
      }
    }
  
    .is-invalid ~ .eye {
      right: 30px;
    }
  }
}

.is-invalid {
  border-color: var(--red-color) !important;
}

.invalid-feedback {
  color: var(--red-color);
  display: block;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-contacts-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type="password"]::-moz-textfield-decoration {
  display: none;
}

@media (max-width: 576px) {

  .input-password > .input-eye > input {
    padding-right: 30px;
  }

  .eye {
    right: 10px;
  }
}