<div class="container">
  <div class="detail-photos" #sidebar [ngStyle]="sidebarStyle">
    <app-department-details></app-department-details>
  </div>
  <div *ngIf="posts" class="main-container">
    @if (authenticated && currentUser) {
      <app-create-post *ngIf="currentUser.role === 'ADMIN'" (onCreatePost)="createdNewPost($event)"></app-create-post>
    }
    <div class="header-section">
      <div class="data-user">
        @if (currentInstitution) {
          <app-institution-avatar [institution]="currentInstitution" size="small"></app-institution-avatar>
        }
        <div class="info-user">
          <h2>Publicaciones</h2>
        </div>
      </div>
    </div>
    <app-post *ngFor="let post of posts" 
      [post]="post" 
      [currentUser]="currentUser"
      [authenticated]="authenticated"
      [openInParent]="true"
      (openPostDetail)="handleOpenPost($event.post, $event.initialMediaIndex)"
      (requestDeletePost)="deletePost($event)"
      (requestUpdatePost)="updatePost($event)" 
      (reactionChanged)="updateReactions(post.uuid)">
    </app-post>

    <button 
      *ngIf="showScrollButton"
      (click)="scrollToTopSmooth()"
      class="scroll-to-top-btn"
      [ngClass]="{'visible': showScrollButton}"
      aria-label="Volver arriba">
      <i class="bi bi-arrow-up"></i>
    </button>
  </div>
</div>

<app-custom-toast #toastRef key="deletePostToast" position="top-right"></app-custom-toast>